@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PokemonRBY';
  src: url('/fonts/PokemonRBY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
